/* RESET GENERAL */
body {
    background-color: #050505;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Courier New', Courier, monospace;
    overflow: hidden;
    color: #fff;
}

/* CONTENEDOR DEL ARCADE */
#game-wrapper {
    position: relative;
    width: 800px;
    height: 450px;
    border: 12px solid #222;
    border-radius: 10px;
    box-shadow: 0 0 0 4px #444, 0 0 60px rgba(255, 0, 0, 0.3);
    background: #000;
}

/* PANTALLA DE INICIO (OVERLAY Z-INDEX EXTREMO) */
#overlay {
    position: absolute;
    top: 0; left: 0; width: 100%; height: 100%;
    background: radial-gradient(circle, #2a0000 0%, #000 100%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999; /* Imposible que algo lo tape */
    cursor: pointer;
}

#overlay h1 {
    font-size: 65px;
    color: #ff0000;
    margin: 0 0 20px 0;
    text-shadow: 4px 4px 0px #fff, 0 0 30px #f00;
    font-style: italic;
    letter-spacing: -2px;
}

.btn-play {
    border: 4px solid #fff;
    padding: 15px 30px;
    font-size: 24px;
    font-weight: bold;
    color: #ffcc00;
    text-shadow: 2px 2px 0 #000;
    animation: blinker 1s step-end infinite;
}

@keyframes blinker {
    50% { opacity: 0; }
}

.controls {
    margin-top: 30px;
    color: #888;
    font-size: 14px;
    letter-spacing: 1px;
}

/* HUD - MARCADORES */
#hud {
    position: absolute;
    top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    font-size: 20px;
    font-weight: bold;
    z-index: 100;
    pointer-events: none; /* Atraviesa los clics */
    text-shadow: 2px 2px #000, 0 0 5px rgba(0,0,0,0.8);
}

#sc-val { color: #ffcc00; }
#hp-val { color: #ff3333; }
#wp-val { color: #00ffff; }

/* CANVAS PIXELADO */
canvas {
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, #000022 0%, #000000 100%);
    image-rendering: pixelated;
}

/* EFECTO CRT VIEJO */
#crt-effect {
    position: absolute;
    top: 0; left: 0; bottom: 0; right: 0;
    background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), 
                linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    background-size: 100% 3px, 3px 100%;
    z-index: 200;
    pointer-events: none; /* Fundamental para no estorbar */
}
